/*	----------------------------------------------------------
	- GLOBAL STYLES											 -
	----------------------------------------------------------  */

	* {
		margin: 0px;
		padding: 0px;
	}

	body {
		margin: 0 0.4em;
		background: none;
		-webkit-font-smoothing: antialiased;
		font-family: 'migraextralight';
		font-size: 2.5em;
		line-height: 1.6em;
		cursor: url("assets/cursor.png"), default; 

	}
	  
	@font-face {
		font-family: 'migraextralight';
		src: url('../font/migra-extralight-webfont.woff2') format('woff2'),
			 url('../font/migra-extralight-webfont.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	
	}	
	
	#bold{
		font-family: 'migraextralight';
		font-weight:bold;

	}


	#content {
		/* min-width: 1270px;
		width: 1270px; */
		margin-top: 1.3em;
		width: 84%;
		margin-left: 5.3em;
		display: flex;

	}

	#content a{
		text-decoration: none;
		color: inherit;
	}

	.line3 a:hover{
		text-decoration: underline;
	}

	.invisible{
		opacity: 0;
	}

	.flex-child {
		flex: 1;
		/* width: 40%; */
		/* border: 10px yellow; */
	}  

	#sectionheader{
		font-family: 'cmu_serif_extraboldslanted';
		font-size: 2em;
	}

	@font-face {
		font-family: 'cmu_serif_extraboldslanted';
		src: url('../font/cmunbl-webfont.eot');
		src: url('../font/cmunbl-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../font/cmunbl-webfont.woff2') format('woff2'),
			 url('../font/cmunbl-webfont.woff') format('woff'),
			 url('../font/cmunbl-webfont.ttf') format('truetype'),
			 url('../font/cmunbl-webfont.svg#cmu_serif_extraboldslanted') format('svg');
		font-weight: normal;
		font-style: normal;
	
	}


	/* ALL OF THE HOVER MAGIC */
	/* ALL OF THE HOVER MAGIC */

	.backgroundimage{
		position: absolute;
		z-index: -100;
		height:7em; 
		opacity: 90%;
		display:none;
	}


	.myDIV:hover + .backgroundimage{
		display: block;
	}

	.myDIV{
		position:relative;
	}


	.line3.myDIV:hover{
		color:blue;
	}

	.direction { 
		background-image:
		  linear-gradient(45deg, transparent 65%, red 80%, transparent 90%),
		  linear-gradient(135deg, transparent 5%, red 15%, transparent 25%),
		  linear-gradient(135deg, transparent 45%, red 55%, transparent 65%),
		  linear-gradient(45deg, transparent 25%, red 35%, transparent 50%);
		background-repeat:repeat-x;
		background-size: 15px 4px;
		background-position:0 95%;

		
		  
	  }

	/* .line3.myDIV:before {
		content: "~~~~~~~~~~~~~~~~~~~~~~~~~~";
		letter-spacing: -2pt;
		top: 10pt;
		font-size: 20pt;
		font-weight: 700;
		font-family: Times New Roman, Serif;
		color: red;
		width: 100%;
		position: absolute;
		overflow: auto;
	  } */

	.line11.myDIV:hover{
		color:#EAA002;
	}



	.line14.myDIV:hover{
		color: red;
		/* font-family:'glacial_indifferenceregular'; */

	}



	

	/* .flex-child:first-child {
		margin-right: 0.5em;
	}  */
	







/*	----------------------------------------------------------
	- MAIN CONTENT  /  FLAGS								 -
	----------------------------------------------------------  */


	.flag {
        z-index: -10;
		display: inline-block;
	}

	.superscript{
		position: relative; top: -0.8em; left: -0.2em;font-size: 50%;
	}

	.after_superscript{
		margin-left: -0.3em;
	}

 

    #funlogo{
        height: 1.5em;
		margin-bottom: -10%;
    }

/*	----------------------------------------------------------
	- RESPONSIVE LAYOUT : 840PX WIDE				 		 -
	----------------------------------------------------------  */


	@media screen and (max-width: 840px) {
		body {
			width: 840px;
		
			padding: 0;
			margin: 0;
		}
		.footer {
			display: none;
		}

	}
