/* Core */
@font-face {
  font-family: 'wombyregular';
  /*src: url('womby-regular-webfont.woff2') format('woff2'),
       url('womby-regular-webfont.woff') format('woff');*/
  src: url("../font/womby.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'kino_40regular';
  src: url("../font/kino40-webfont.woff2") format("woff2"), url("../font/kino40-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'butlerblack';
  src: url("../font/butler_black-webfont.woff2") format("woff2"), url("../font/butler_black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'butlerextrabold';
  src: url("../font/butler_extrabold-webfont.woff2") format("woff2"), url("../font/butler_extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'butlerregular';
  src: url("../font/butler_regular-webfont.woff2") format("woff2"), url("../font/butler_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'glacial_indifferenceregular';
  src: url("../font/glacialindifference-regular-webfont.woff2") format("woff2"), url("../font/glacialindifference-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'glacial_indifferencebold';
  src: url("../font/glacialindifference-bold-webfont.woff2") format("woff2"), url("../font/glacialindifference-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'glacial_indifferenceitalic';
  src: url("../font/glacialindifference-italic-webfont.woff2") format("woff2"), url("../font/glacialindifference-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'butler_stencilblack';
  src: url("../font/butler_black_stencil-webfont.woff2") format("woff2"), url("../font/butler_black_stencil-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'franklin_gothic_fsdemi';
  src: url("../font/franklingothic-demi-webfont.woff2") format("woff2"), url("../font/franklingothic-demi-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Caslon Old Face';
  src: url("../font/caslon_old_face_heavy_regular_1-webfont.woff2") format("woff2"), url("../font/caslon_old_face_heavy_regular_1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'xenos_medium';
  src: url("../font/xenos_-webfont.woff2") format("woff2"), url("../font/xenos_-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.quickfade {
  -webkit-animation-name: quickfade;
  animation-name: quickfade;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@keyframes quickfade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.fadeAndScale {
  -webkit-animation-name: fadeAndScale;
  animation-name: fadeAndScale;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@keyframes fadeAndScale {
  from {
    opacity: 0;
    transform: scale(0.9, 0.9); }
  to {
    opacity: 1;
    transform: scale(1, 1); } }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible; }
  80% {
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0) scale(1); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0); }
  75% {
    -webkit-transform: translate3d(0, -10px, 100px);
    transform: translate3d(0, -10px, 100px) scale(1.02); }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0); }
  100% {
    -webkit-transform: none;
    transform: scale(1); } }
.bounceOutUp {
  -webkit-animation-name: bounceOutUp;
  animation-name: bounceOutUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0); }
  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0); } }
.rotateInUpRight {
  -webkit-animation-name: rotateInUpRight;
  animation-name: rotateInUpRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@keyframes rotateInUpRight {
  0% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, -90deg);
    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0; }
  100% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg) translateX(110px);
    opacity: 1; } }
.diagonal_right {
  animation-name: diogonal_right;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  -webkit-animation-name: diagonal_right;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: forwards; }

@keyframes diagonal_right {
  0% {
    -webkit-transform-origin: 100% -50%;
    transform-origin: 100% -50%;
    transform: rotate3d(0, 0, 1, -23deg);
    -webkit-transform: rotate3d(0, 0, 1, -23deg);
    opacity: 1;
    z-index: -1000; }
  100% {
    -webkit-transform-origin: 100% -50%;
    transform-origin: 100% -50%;
    transform: translate(-400px, -550px) rotate3d(0, 0, 1, -23deg);
    -webkit-transform: translate(-400px, -550px) rotate3d(0, 0, 1, -23deg);
    opacity: 1;
    z-index: -1000; } }
.diagonal_right {
  animation-name: diogonal_right;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  -webkit-animation-name: diagonal_right;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: forwards; }

@keyframes slide_right {
  0% {
    transform: translateX(100%); }
  14.28% {
    transform: translateX(0); }
  85.71% {
    transform: translateX(0); }
  100% {
    transform: translateX(100%); } }
.diagonal_left {
  animation-name: diagonal_left;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  -webkit-animation-name: diagonal_left;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: forwards; }

@keyframes diagonal_left {
  0% {
    -webkit-transform-origin: 100% -50%;
    transform-origin: 100% -50%;
    opacity: 1;
    z-index: -1000; }
  100% {
    -webkit-transform-origin: 100% -50%;
    transform-origin: 100% -50%;
    transform: translate(400px, 900px);
    -webkit-transform: translate(400px, 900px);
    opacity: 1;
    z-index: -1000; } }
.diagonal_left_degree {
  animation-name: diogonal_left_degree;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  -webkit-animation-name: diagonal_left_degree;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: forwards; }

@keyframes diagonal_left_degree {
  0% {
    -webkit-transform-origin: -60% 0%;
    transform-origin: -60% 0%;
    transform: translate(-400px, 0px) rotate3d(0, 0, 1, -23deg);
    -webkit-transform: translate(-400px, 0px) rotate3d(0, 0, 1, -23deg);
    opacity: 1;
    z-index: -1000; }
  100% {
    -webkit-transform-origin: -60% 0%;
    transform-origin: -60% 0%;
    transform: translate(0px, 900px) rotate3d(0, 0, 1, -23deg);
    -webkit-transform: translate(0px, 900px) rotate3d(0, 0, 1, -23deg);
    opacity: 1;
    z-index: -1000; } }
.slideInUp {
  animation-name: slideInUp;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  -webkit-animation-name: slideInUp;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: forwards; }

@keyframes slideInUp {
  0% {
    transform: translate(0px, 900px);
    -webkit-transform: translate(0px, 900px); }
  100% {
    transform: translate(0px, -200px);
    -webkit-transform: translate(0px, -200px); } }
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 1.5s linear forwards; }

@keyframes dash {
  to {
    stroke-dashoffset: 0; } }
.rotateInUpRight_wqhs {
  -webkit-animation-name: rotateInUpRight_wqhs;
  animation-name: rotateInUpRight_wqhs;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@keyframes rotateInUpRight_wqhs {
  0% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, -90deg);
    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0; }
  100% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    opacity: 1; } }
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  overflow-y: scroll;
  overflow-x: hidden;
  background: #fff; }

body {
  font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0 20px;
  color: black;
  cursor: url("../assets/cursor.png"), default; }

/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

/* Forms */
.form-control {
  display: block;
  width: 940px;
  height: 40px;
  font-size: 16px;
  line-height: 26px;
  color: inherit;
  background: #fff;
  border-radius: 4px;
  display: flex;
  justify-content: space-between; }

.form-control:focus {
  outline: 0;
  border-color: red; }

/* Sections */
section {
  margin: 60px auto;
  padding-top: 0;
  max-width: 940px; }

section h4 {
  margin: 30px 0 15px 0;
  font-weight: 900;
  font-size: 80px;
  color: #3e3e3e; }

/* Section titles */
.section-title {
  color: #3e3e3e;
  font-size: 7vw;
  color: black;
  font-family: "glacial_indifferencebold";
  font-weight: 700;
  margin: 40px 0;
  letter-spacing: 0.3px;
  text-align: center; }

/* Controls */
input[type="radio"] {
  display: none; }

.radio_button {
  flex: 1.5;
  background-color: #F4C615;
  color: black;
  border-radius: 30px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  display: flex;
  justify-content: center;
  align-items: center; }
  .radio_button label {
    font-family: glacial_indifferencebold;
    font-size: 1.1vw;
    letter-spacing: 0.1em; }

.spacer {
  flex: 0.3; }

.controls {
  margin: 30px -10px; }

.control {
  position: relative;
  float: left;
  width: 25%;
  padding: 0 10px; }

@media (max-width: 600px) {
  .control {
    float: none;
    width: auto;
    margin: 0 0 15px 0; }

  .control.layout {
    margin: 0; } }
.control-field {
  position: relative;
  z-index: 1; }

/* Grid */
.grid {
  position: relative;
  max-width: 960px;
  margin: 0 -10px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: height 0.2s ease-out;
  -moz-transition: height 0.2s ease-out;
  -ms-transition: height 0.2s ease-out;
  transition: height 0.2s ease-out;
  margin-top: -6%; }

.body {
  background-color: #F4C615;
  padding: 8%; }

.scrolldown {
  -webkit-transition: bottom 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
  -moz-transition: bottom 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
  transition: bottom 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms; }

.scrolldown .arrow {
  -webkit-animation: bounce 800ms cubic-bezier(0.7, 0, 0.3, 1) infinite alternate;
  -moz-animation: bounce 800ms cubic-bezier(0.7, 0, 0.3, 1) infinite alternate;
  animation: bounce 800ms cubic-bezier(0.7, 0, 0.3, 1) infinite alternate; }

.arrow {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.item {
  margin: 10px;
  z-index: 1;
  position: absolute; }

.item-content {
  position: relative;
  width: 100%; }

.distance {
  margin-top: 2%; }

.distance2 {
  margin-top: -6%; }

.proj_dist {
  margin-top: -5%; }

/*# sourceMappingURL=portfolio.css.map */
.header {
  font-family: 'butlerextrabold';
  font-size: 3em;
  padding-bottom: 50px;
  margin-left: -15%; }

.big_header {
  font-family: 'butlerextrabold';
  font-size: 9em;
  margin-left: -5%; }

.header2 {
  position: absolute; }

.resume_text {
  font-family: 'glacial_indifferenceregular';
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.08em; }

.show {
  display: none; }

.resume_bold {
  font-family: 'glacial_indifferencebold';
  font-size: 18px; }

.resume_ed {
  font-family: 'glacial_indifferenceregular';
  font-size: 18px; }

.position {
  font-family: 'glacial_indifferenceitalic';
  font-size: 18px;
  margin-top: -1%; }

.resume_link {
  color: black; }

.resume {
  line-height: 30px;
  width: 100%;
  margin-top: 3%; }

.date {
  position: absolute;
  right: 0;
  font-size: 12px; }

ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-top: -0.5%; }

.item.w1 {
  width: 13em;
  display: block; }

.item.w2 {
  width: 400px; }

.item.w3 {
  width: 460px; }

.item.w4 {
  width: 620px; }

.project {
  margin-top: 4%; }

.red {
  color: red; }

.highlight {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #F6E201 50%);
  background-position: 0% 0;
  background-size: 200% auto;
  text-decoration: none;
  transition: background-position 0.2s ease-out; }

/*# sourceMappingURL=resume.css.map */
