// global partial where I'll store fonts and color variables
// must be imported at top of each scss file to be used


//FONTS
//FONTS
//FONTS
//FONTS
//FONTS

@font-face {
    font-family: 'wombyregular';
    /*src: url('womby-regular-webfont.woff2') format('woff2'),
         url('womby-regular-webfont.woff') format('woff');*/
         src: url('../font/womby.otf');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kino_40regular';
    src: url('../font/kino40-webfont.woff2') format('woff2'),
         url('../font/kino40-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'butlerblack';
    src: url('../font/butler_black-webfont.woff2') format('woff2'),
         url('../font/butler_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'butlerextrabold';
    src: url('../font/butler_extrabold-webfont.woff2') format('woff2'),
         url('../font/butler_extrabold-webfont.woff') format('woff');
    // src: url('../font/Butler_ExtraBold.otf');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'butlerregular';
    src: url('../font/butler_regular-webfont.woff2') format('woff2'),
         url('../font/butler_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'glacial_indifferenceregular';
    src: url('../font/glacialindifference-regular-webfont.woff2') format('woff2'),
         url('../font/glacialindifference-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'glacial_indifferencebold';
    src: url('../font/glacialindifference-bold-webfont.woff2') format('woff2'),
         url('../font/glacialindifference-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'glacial_indifferenceitalic';
    src: url('../font/glacialindifference-italic-webfont.woff2') format('woff2'),
         url('../font/glacialindifference-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'butler_stencilblack';
    src: url('../font/butler_black_stencil-webfont.woff2') format('woff2'),
         url('../font/butler_black_stencil-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'franklin_gothic_fsdemi';
    src: url('../font/franklingothic-demi-webfont.woff2') format('woff2'),
         url('../font/franklingothic-demi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Caslon Old Face';
    src: url('../font/caslon_old_face_heavy_regular_1-webfont.woff2') format('woff2'),
         url('../font/caslon_old_face_heavy_regular_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'xenos_medium';
    src: url('../font/xenos_-webfont.woff2') format('woff2'),
         url('../font/xenos_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
//MIXINS
//MIXINS
//MIXINS
//MIXINS
//MIXINS

@mixin rounded-input{
border-radius : 4px  / 5px;
-moz-border-radius : 4px  / 5px;
-webkit-border-radius : 4px  / 5px;
}

@mixin border-radius($radius){
  border-radius: $radius;
}

@mixin rotate($deg){
  -ms-transform: rotate($deg); /* IE 9 */
    -webkit-transform: rotate($deg); /* Chrome, Safari, Opera */
    transform: rotate($deg);
}

//COLORS
//COLORS
//COLORS
//COLORS
//COLORS

$pep-container-color: #f3eee6;
$pep-color: #f5b188;
$light-beige: #EECBAE;
$navy: #262262;
$bubblegum: #E7C0CF;
$peach: #E7BFA7;
$military-green: #575C48;
$black: #231F20;
$puce: #D7DF23;
$barely-grey: #F1F2F2;
$beige: #D3B091;
$caramel: #C79862;
// $tennis-green: #246040;
$tennis-green: #17401D;
$tennis-red: #AA4724;
$wes_mustard: #F4C615;
$wes_seafoam: #757B73;
$wes_red: #C33B27;
$wes_cream: #F9F0CE;
$wes_babyblue: #C3CDCF;
$wes_earthgreen: #8D9872;
$wes_brightyellow: #F6E201;
$green: #1E7842;
$medium_blue: #3F64AF;
$thimble_green: #CBC1A1;
$thimble_pink: #E7BFA7;

$gg_red: #D9322C;
$gg_pink: #E0B7C7;
$gg_green: #166C38;
$gg_blue: #283983;
$gg_yellow: #E2D846;


$background_colors: $navy, $bubblegum, $military-green, $pep-color, $black, $puce;
//

// ANIMATIONS

// We make each a CLASS (so that we can easily apply them to whatever element we want),
// and in each class we specify duration, fill, etc.
//
// Then we have to BUILD each animation-- keyframes, etc.

.quickfade{
  -webkit-animation-name: quickfade;
  animation-name: quickfade;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes quickfade {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
    }
  }



.fadeAndScale {
  -webkit-animation-name: fadeAndScale;
  animation-name: fadeAndScale;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeAndScale {
  from {
      opacity: 0;
      transform: scale(.9, .9);
  }
  to {
      opacity: 1;
      transform: scale(1, 1);
    }
  }

  @-webkit-keyframes fadeOut {
    0% {
      opacity: 1; }

    100% {
      opacity: 0; } }
  @keyframes fadeOut {
    0% {
      opacity: 1; }

    100% {
      opacity: 0; } }

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes slideInDown {
  0% {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  visibility: visible;
  }
  80%{
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  100% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
}


.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -3000px, 0);
  transform: translate3d(0, -3000px, 0) scale(1.0);
  }

  60% {
  opacity: 1;
  -webkit-transform: translate3d(0, 25px, 0);
  transform: translate3d(0, 25px, 0);
  }

  75% {
  -webkit-transform: translate3d(0, -10px, 100px);
  transform: translate3d(0, -10px, 100px) scale(1.02);
  }

  90% {
  -webkit-transform: translate3d(0, 5px, 0);
  transform: translate3d(0, 5px, 0);
  }

  100% {
  -webkit-transform: none;
  transform: scale(1.0);
  }
}



.bounceOutUp {
  -webkit-animation-name: bounceOutUp;
  animation-name: bounceOutUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }

  @keyframes bounceOutUp {
  20% {
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
  }
  40%, 45% {
  opacity: 1;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
  }
  100% {
  opacity: 0;
  -webkit-transform: translate3d(0, -2000px, 0);
  transform: translate3d(0, -2000px, 0);
  }
  }

.rotateInUpRight {
  -webkit-animation-name: rotateInUpRight;
  animation-name: rotateInUpRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes rotateInUpRight {
  0% {
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: rotate3d(0, 0, 1, -90deg);
  transform: rotate3d(0, 0, 1, -90deg);
  opacity: 0;
  }
  100% {
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: rotate3d(0, 0, 1, -10deg);
  transform: rotate3d(0, 0, 1, -10deg) translateX(110px);
  opacity: 1;

  }
}

.diagonal_right{
 animation-name: diogonal_right;
 animation-duration: 2s;
 animation-fill-mode: forwards;
 -webkit-animation-name: diagonal_right;
 -webkit-animation-duration: 2s;
 -webkit-animation-fill-mode: forwards;
}

@keyframes diagonal_right {
  0% {
  -webkit-transform-origin: 100% -50%;
  transform-origin: 100% -50%;
  transform: rotate3d(0, 0, 1, -23deg);
  -webkit-transform: rotate3d(0, 0, 1, -23deg);;
  opacity: 1;
  z-index: -1000;
  }
  100% {
    -webkit-transform-origin: 100% -50%;
    transform-origin: 100% -50%;
  transform: translate(-400px,-550px) rotate3d(0, 0, 1, -23deg);
  -webkit-transform: translate(-400px,-550px) rotate3d(0, 0, 1, -23deg);
  opacity: 1;
  z-index: -1000;

  }
}

.diagonal_right{
 animation-name: diogonal_right;
 animation-duration: 2s;
 animation-fill-mode: forwards;
 -webkit-animation-name: diagonal_right;
 -webkit-animation-duration: 2s;
 -webkit-animation-fill-mode: forwards;
}

@keyframes slide_right {
  0% {
    transform: translateX(100%);
  }
  14.28% {
    transform: translateX(0);
  }
  85.71% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}


.diagonal_left{
 animation-name: diagonal_left;
 animation-duration: 2s;
 animation-fill-mode: forwards;
 -webkit-animation-name: diagonal_left;
 -webkit-animation-duration: 2s;
 -webkit-animation-fill-mode: forwards;
}

@keyframes diagonal_left {
  0% {
    -webkit-transform-origin: 100% -50%;
    transform-origin: 100% -50%;

  opacity: 1;
  z-index: -1000;
}
  100% {
    -webkit-transform-origin: 100% -50%;
    transform-origin: 100% -50%;
    transform: translate(400px,900px);
    -webkit-transform:translate(400px,900px);
    opacity: 1;
    z-index: -1000;
  }
}

.diagonal_left_degree{
 animation-name: diogonal_left_degree;
 animation-duration: 2s;
 animation-fill-mode: forwards;
 -webkit-animation-name: diagonal_left_degree;
 -webkit-animation-duration: 2s;
 -webkit-animation-fill-mode: forwards;
}

@keyframes diagonal_left_degree {
  0% {
    -webkit-transform-origin: -60% 0%;
    transform-origin: -60% 0%;
    transform: translate(-400px,0px) rotate3d(0, 0, 1, -23deg);
    -webkit-transform: translate(-400px,0px) rotate3d(0, 0, 1, -23deg);
  opacity: 1;
  z-index: -1000;
}
  100% {
    -webkit-transform-origin: -60% 0%;
    transform-origin: -60% 0%;
    transform: translate(0px,900px) rotate3d(0, 0, 1, -23deg);
    -webkit-transform:translate(0px,900px) rotate3d(0, 0, 1, -23deg);
    opacity: 1;
    z-index: -1000;
  }
}

.slideInUp{
 animation-name: slideInUp;
 animation-duration: 2s;
 animation-fill-mode: forwards;
 -webkit-animation-name: slideInUp;
 -webkit-animation-duration: 2s;
 -webkit-animation-fill-mode: forwards;
}

@keyframes slideInUp {
  0% {
    transform: translate(0px, 900px);
    -webkit-transform:translate(0px, 900px);
  //
  // -webkit-transform: translateY(100%);
  // transform: translateY(100%);
  // visibility: visible;
  }
  100% {
    transform: translate(0px, -200px);
    -webkit-transform:translate(0px, -200px);
  //
  // -webkit-transform: translateY(0);
  // transform: translateY(0);
  }
  }

  .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 1.5s linear forwards;
  }

  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }

  .rotateInUpRight_wqhs {
    -webkit-animation-name: rotateInUpRight_wqhs;
    animation-name: rotateInUpRight_wqhs;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @keyframes rotateInUpRight_wqhs {
    0% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, -90deg);
    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0;
    }
    100% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    opacity: 1;

    }
  }
