

body { font-family:'Raleway', sans-serif; }

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#corndog-details { width:260px; position:absolute; top:50%; left:50%; -webkit-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); transform:translate(-50%,-50%); background-color:#ffc9c8; padding:10px 35px; margin:auto; border:2px solid #000; text-align:center; }

#corndog-headline, #status-container { color:#000; text-transform:uppercase; letter-spacing:2px; font-weight:normal; margin:0; padding:0; text-align:center; }
#corndog-headline { font-size:20px; margin-bottom:12px; }
#status-container { font-size:10px; }

#display { display:none; }

#show-gif { position:fixed; top:0; right:0; bottom:0; left:0; background-position:center center; background-color:#000; background-size:cover; display:none; }

// #playback { position:fixed; top:0; left:0; z-index:99999; width:0; height:2px; background-color:#000; }

.gif-on #corndog-headline, .gif-on #status { color:#FFF; opacity:.8; }
.gif-on #status { opacity:0; }
.gif-on #corndog-details { background-color:transparent; border-color:transparent; }
.gif-on #playback { background-color:#FFF; opacity:.8; }


#social { position:absolute; left:50%; bottom:18px; height:25px; -webkit-transform:translateX(-50%); -ms-transform:translateX(-50%); transform:translateX(-50%); }
#social > .social-share { height:25px; padding:0; vertical-align:middle; }

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.flicker {
   -webkit-animation: flickerAnimation 2.8s infinite;
   -moz-animation: flickerAnimation 2.8s infinite;
    animation: flickerAnimation 2.8s infinite;
}

@media (min-width:768px) {
	#corndog-details { width:auto; padding:40px 60px; }
	#corndog-headline { font-size:22px; margin-bottom:12px; }
	#status-container { font-size:12px; }
	#social { left:18px; -webkit-transform:translateX(0); -ms-transform:translateX(0); transform:translateX(0); }
}

@media (min-width:992px) {

}

@media (min-width:1200px) {

}
