@import 'globals';


body{

	cursor: url('../assets/cursor.png'), default;

}
span {
    position: relative;

}

span.imgText img {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -20%;
    margin-left: 35%;
    height: 50px;
    width: 50px;
}

#hiddenDiv, #hiddenDiv2{
  display:none;
  font-family: 'glacial_indifferenceregular';
  font-size: 12px;}



.red:hover{
  color: $wes_cream;
  -webkit-text-stroke-width: 2.2px;
   -webkit-text-stroke-color: black;

}
.highlight{
    background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, $wes_brightyellow 50%);
    background-position: 0% 0;
    background-size: 200% auto;
    text-decoration: none;
    transition: background-position 0.2s ease-out;
  }
.highlight:hover {
    background-position: -99.99% 0;
    animation-fill-mode: forwards;

  }

#content{
  font-family: 'Caslon Old Face';
  font-size: 45px;
  color: #000;

  // z-index: -1000;
}

#header{
  font-family: 'xenos_medium';
  font-size: 80px;
  // z-index: 1000;
}

.wrapper {
            display: grid;
            grid-gap: 1vw;
            /*grid-template-columns: 300px 500px 300px;*/
            grid-template-columns: 7vw 72vw 10vw;

            // background-color: #fff;
            color: #444;
        }

.tool_content{
  font-family: 'xenos_medium';
  font-size: 18px;
}

.tool_ital{
  font-family: "Caslon Old Face";
  font-size: 10px;
}

.xeno{
  font-family: 'xenos_medium';
  font-size: 30px;
}

.draggable{
  margin-top: 5%;
  z-index: 1000;
  // position: absolute;
}

.more_stickers{
    position: absolute;
  }


        .a {
          grid-column: 2 ;
          grid-row: 1 ;
          grid-column-end: 5;
          display: block;
          margin-top: 5%;
        }
        .b {
          grid-column: 2 / span 2;
        grid-row: 2;
        margin-top: 5%;

        }

        .d {
            grid-column: 2 / span 1;
            grid-row: 9 ;
            display: flex;
            display: block;
        }

        .e{
          grid-column: 2;
          margin-left: 30%;
          grid-row: 4;
        }

.link{
  position: relative;
  color: #000;
  text-decoration: none;
}

.link:hover{
  color: red;

}

.link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: green;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


//USED FOR LOVE.HTML//

.label{

}
