/* Core */
@import 'globals';

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  overflow-y: scroll;
  overflow-x: hidden;
  background: #fff; }

body {
  font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0 20px;
  // color: #6e6e6e;
  color: black;
  cursor: url('../assets/cursor.png'), default;
  // pointer-events: all;
 }


  $darkgreen: #006838;

/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

/* Forms */
.form-control {
  display: block;
  width: 940px;
  height: 40px;
  // padding: 5px 15px;
  font-size: 16px;
  line-height: 26px;
  color: inherit;
  background: #fff;
  // border: 2px solid #e5e5e5;
  border-radius: 4px;
display: flex;
justify-content: space-between;}

.form-control:focus {
  outline: 0;
  border-color: red; }

/* Sections */
section {
  margin: 60px auto;
  padding-top: 0;
  max-width: 940px; }

section h4 {
  margin: 30px 0 15px 0;
  font-weight: 900;
  font-size: 80px;
  color: #3e3e3e; }

/* Section titles */
.section-title {
  color: #3e3e3e;
  font-size: 7vw;
  color: black;
  font-family:"glacial_indifferencebold";
  // font-family: franklin_gothic_fsdemi;
  // font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  margin: 40px 0;
  letter-spacing: 0.3px;
  // text-transform: uppercase;
  text-align: center; }


/* Controls */


input[type="radio"] {
    display:none;
}



.radio_button{
  flex: 1.5;
  border: 3px solid;
  color: black;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;

  label{
    font-family: glacial_indifferencebold;
    font-size: 1.1vw;
    letter-spacing: 0.1em;
  }
}


.spacer{
  //this is for radio buttons
  flex:0.3;
}


.controls {
  margin: 30px -10px; }

.control {
  position: relative;
  float: left;
  width: 25%;
  padding: 0 10px; }

@media (max-width: 600px) {
  .control {
    float: none;
    width: auto;
    margin: 0 0 15px 0; }

  .control.layout {
    margin: 0; } }
.control-field {
  position: relative;
  // padding-left: 40px;
  z-index: 1; }

/* Grid */
.grid {
  position: relative;
  max-width: 960px;
  margin: 0 -10px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: height 0.2s ease-out;
  -moz-transition: height 0.2s ease-out;
  -ms-transition: height 0.2s ease-out;
  transition: height 0.2s ease-out;
  margin-top: -6%;
  // background-color: red;




}

.body{
  background-color: $wes_mustard;
  padding: 8%;
}

.scrolldown {
  -webkit-transition: bottom 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
  -moz-transition: bottom 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
  transition: bottom 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms; }
.scrolldown .arrow {
    -webkit-animation: bounce 800ms cubic-bezier(0.7, 0, 0.3, 1) infinite alternate;
    -moz-animation: bounce 800ms cubic-bezier(0.7, 0, 0.3, 1) infinite alternate;
    animation: bounce 800ms cubic-bezier(0.7, 0, 0.3, 1) infinite alternate; }

  .arrow{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

.item {
  // line-height: 5px;
  margin: 10px;
  z-index: 1;
  position: absolute;
  // padding-bottom: 2%;
}


.item-content {
  position: relative;
  width: 100%;
}

.distance{
  margin-top: 2%;
}

.distance2{
  margin-top: -6%;
}

.proj_dist{
  margin-top: -5%;
}



/*# sourceMappingURL=portfolio.css.map */


/////////// RESUME FORMATTING //////////

.header {
  font-family: 'butlerextrabold';
  font-size: 32px;
  padding-bottom: 50px;

}

.header2{
  position: absolute;
}

.resume_text{
  font-family: 'glacial_indifferenceregular';
  font-size: 12px;
  line-height: 14px;
}

.show{
  display: none;
}

.resume_bold{
  font-family: 'glacial_indifferencebold';
  font-size: 18px;
}

// .resume_bold:hover .show{
//   display: block;
// }

.position{
  font-family: 'glacial_indifferenceitalic';
  font-size: 18px;
  margin-top: -1%;

}


.resume_link{
 // text-decoration: none;
 color: black;
}

.resume{
  // height: 50px;
  line-height: 30px;
  width: 100%;
    margin-top: 3%;

}

.date{
  position: absolute;
  right: 0;
  font-size: 12px;
}

ul{
  list-style-type: circle;
  list-style-position:inside;
  margin-top: -0.5%;

}

.item.w1{
  width: 13em;
  display: block;
}

.item.w2{
  width: 400px;
}

.item.w3{
  width: 460px;
}

.item.w4{
width: 620px;
}

.project{
  margin-top: 4%;
}

// .a1 {
//     grid-column: 1 / span 3;
//     grid-row: 1;
//     margin: 3%;
//     // border-left: 1px solid black;
// }

.red{
  color: red;
}

.highlight{
    background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, $wes_brightyellow 50%);
    background-position: 0% 0;
    background-size: 200% auto;
    text-decoration: none;
    transition: background-position 0.2s ease-out;
  }
