/*	----------------------------------------------------------
	- GLOBAL STYLES											 -
	----------------------------------------------------------  */

	* {
		margin: 0px;
		padding: 0px;
	}

	body {
		margin: 0 2em;
		background: none;
		-webkit-font-smoothing: antialiased;
		font-family: 'migraextralight';
		font-size: 3.2em;
		line-height: 1.6em;
	}
	  
	@font-face {
		font-family: 'migraextralight';
		src: url('migra-extralight-webfont.woff2') format('woff2'),
			 url('migra-extralight-webfont.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	
	}	
	
	#bold{
		font-family: 'migraextralight';
		font-weight:bold;

	}


	#content {
		/* min-width: 1270px;
		width: 1270px; */
		width: 100%;
		margin-left: 1.1em;
		display: flex;

	}

	.flex-child {
		flex: 1;
		/* width: 50%; */
		border: 10px yellow;
	}  

	#sectionheader{
		font-family: 'cmu_serif_extraboldslanted';
		font-size: 2em;
	}

	@font-face {
		font-family: 'cmu_serif_extraboldslanted';
		src: url('cmunbl-webfont.eot');
		src: url('cmunbl-webfont.eot?#iefix') format('embedded-opentype'),
			 url('cmunbl-webfont.woff2') format('woff2'),
			 url('cmunbl-webfont.woff') format('woff'),
			 url('cmunbl-webfont.ttf') format('truetype'),
			 url('cmunbl-webfont.svg#cmu_serif_extraboldslanted') format('svg');
		font-weight: normal;
		font-style: normal;
	
	}



	

	/* .flex-child:first-child {
		margin-right: 0.5em;
	}  */
	







/*	----------------------------------------------------------
	- MAIN CONTENT  /  FLAGS								 -
	----------------------------------------------------------  */


	.flag {
        z-index: -10;
		display: inline-block;
	}

	.superscript{
		position: relative; top: -0.8em; left: -0.2em;font-size: 50%;
	}

	.after_superscript{
		margin-left: -0.3em;
	}

/* 
	.flag:before {
	   display: block;
	   position: absolute;
	   
	}


	.flag:after {
	   content:"";
       padding-right: 40px;
	   right: 100%;
	   top: 0%;
	   width: 0;
	   height: 0;
	   border-top: 0px solid transparent;
	   border-bottom: 11px solid transparent;
    } */
    
 

    #funlogo{
        height: 1.5em;
		margin-bottom: -10%;
    }

    #backgroundimage{
        position: absolute;
        z-index: -100;
    }



/*	----------------------------------------------------------
	- MAIN CONTENT  /  LINKS 					     		 -
	----------------------------------------------------------  */


/*	----------------------------------------------------------
	- FOOTER 									     		 -
	----------------------------------------------------------  */





/*	----------------------------------------------------------
	- RESPONSIVE LAYOUT : 840PX WIDE				 		 -
	----------------------------------------------------------  */


	@media screen and (max-width: 840px) {
		body {
			width: 840px;
		}
	}




/*	----------------------------------------------------------
	- RESPONSIVE LAYOUT : 1270PX WIDE				 		 -
	----------------------------------------------------------  */


	@media screen and (min-width: 1070px) {


		



/*	----------------------------------------------------------
	- RESPONSIVE LAYOUT : 500PX WIDE				 		 -
	----------------------------------------------------------  */


	@media screen and (max-width: 500px) {



		img#logo {
			display: block;
			margin: 0 auto;
			padding-right: 52%;
			text-align: center;
			margin-top: 40px;
			width: 100px;
		}
		

		#violator {
			display: none;
		}

		#nav ul {
			padding: 0px 0px;
			float: none;
			width: 390px;
			display: none;
		}

		#nav li {
			text-align: center;
			font-size: 20px;
			line-height: 28px;
			border-radius: 50px;
		}

		#keenancummings li:first-child {
			font: 43px/32px 'Apercu', helvetica, sans-serif;
		}

		#keenancummings li:last-child {
			display: none;
		}

		#pages {
			margin-top: 30px;
		}

		.links {
			padding: 10px;
			color: blue;
			margin: 7px 0;
			border: 3px solid blue;
		}

		.links::after {
			content: " \279C";
		}

		#nav .links::before {
			content: "";
		}


		#elsewhere {
			display: none;
		}

		#social {
			display: none;
		}


		.links a:visited {
			color: blue;
			
		}

		.links a:hover, a:active {
			color: blue;
			background: none;
			border-radius: 24px;
			padding: 0 0px;
			padding-left: 10px;
			-webkit-transition: all .1s ease-in-out;
			-moz-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
		}


		body {
			padding: 0;
			margin: 0;
		}

	
		
	
		.project {
			font-size: 36px;
			line-height: 45px;
            /* margin-right: 0; */
            /* display: inline-block; */
		}

		/* .flag {
			display: none;
		} */

		/* span + span.project:before {
			content: "";
		} */

		.footer {
			display: none;
		}

	}


	
	













